@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@200;300;400;500&family=Roboto:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    
}
:root{
    --color-bg:#000000e5;
    --color-bg-variant:#afafe090;
    --color-primary:#ffffff;
    --color-white:rgb(255, 255, 255);
    --color-light:rgb(255, 255, 255);
    --container-width-lg:75%;
    --container-width-md:86%;
    --container-width-sm:90%;
}
::-webkit-scrollbar{
    display:none;
}
body
{
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color:var(--color-white);
    line-height: 1.7;
   background-image: url(../src/assets/bg.jpg);
   background-attachment:  fixed;
   background-size: cover;
}
.container
{
    width:var(--container-width-lg);
    margin:0 auto;
}
h1{
    text-align: center;
    font-size:2.5rem;
}

section{
    margin-top: 8rem;
   
}

section > h2,
section > h4{
 text-align: center;
 color:var(--color-light);
}
section > h2{
    color:var(--color-primary);
    margin-bottom: 3rem;
}
a{
    color:var(--color-primary);
    transition:var(--transition);
}
a:hover{
    color:#ff02028a;
    
}
.btn
{
    width: max-content;
    display: inline-block;
    color:var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 5rem;
    cursor:pointer;
    border: 1px solid var(--color-primary);
    transition:var(--transition);
    
}
.btn-hover
{
    background:var(--color-bg);
    color:var(--color-bg);
    border-color:transparent;
}
.btn-primary
{
    background: var(--color-primary);
    color:var(--color-bg)

}
img{
    display:block;
    width:100%;
    object-fit: cover;
}

/*Medium devices*/
@media screen and (
    max-width: 1024px
)
{
    body{
        background-size: auto;
    }  
    .container{
        width: var(--container-width-md);
    }
    :section{
        margin-top:6rem;
    }
}
/*small devices*/
@media screen and (
    max-width: 600px
)
{
  

    body{
        background-size:auto;
    }  
    
    .container{
        width: var(--container-width-md);
    }
    :section>h2{
        margin-bottom:2rem;
    }
}